*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

input,
button {
    font: inherit;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #161a1d;
}

a {
    color: #fff;
    text-decoration: none;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    border: 1px solid #555;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 300px;
}

.login-container h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.login-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.login-button {
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.25rem;
    color: #fff;
}

.button-logo {
    font-size: 2rem;
    padding: 0.25rem;
    flex: initial;
    position: relative;
    justify-content: center;
    align-items: center;
}

.login-button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-right: 5px;
}

.github {
    background-color: #333;
}

.discord {
    background-color: #7289da;
}

.google {
    background-color: #4285f4;
}

.gitlab {
    background-color: #fc6d26;
}

/*main-content is a div containing multiple elements, the div should be centered on the page an elements inside stacked on top of one another.*/
#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-size: 2.5rem;
}

#date {
    font-size: 1rem;
    margin-bottom: 1rem;
}

#status {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    font-size: 0.75rem;
    color: #999;
}

#search {
    background-color: transparent;
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

#search:focus {
    opacity: 1;
}

/*nav styles*/
nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 38px;
    height: 36px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    border-radius: 0 0 3px 0;
}

nav a,
nav ul {
    margin: 0;
    padding: 0;
}

nav:hover {
    width: 38px;
    height: 200px;
    transition: all 0.4s ease-in-out;
}

nav ul {
    list-style-type: none;
    margin: 0 0 0 0;
    transition: all 0.2s ease-in-out;
}

nav ul li {
    transition: all 0.2s ease-in-out;
}

.navicon {
    padding: 12px 0;
    width: 40px;
}

.navicon:before {
    padding: 12px;
}

nav .bx:before {
    font-size: 16px;
}

.caret-rotate {
    transition: all 0.2s ease-in-out;
}

nav:hover .caret-rotate {
    transform: rotate(-90deg);
}

/*modal styles*/
#modal {
    /* Underlay covers entire screen. */
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    /* Flexbox centers the .modal-content vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Animate when opening */
    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal > .modal-underlay {
    /* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#modal > .modal-content {
    /* Position visible dialog near the top of the window */
    margin-top: 10vh;

    /* Sizing for visible dialog */
    width: 80%;
    max-width: 600px;

    /* Display properties for visible dialog*/
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(33, 33, 33, 0.5);
    background-color: #323130;
    padding: 20px;

    /* Animate when opening */
    animation-name: zoomIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

#modal.closing {
    /* Animate when closing */
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing > .modal-content {
    /* Animate when closing */
    animation-name: zoomOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 20px;
}

#modal table th {
    border-bottom: 1px solid #fff;
    text-align: left;
}

#modal table td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#modal button {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#modal input {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: #444;
    outline: none;
    border: none;
    color: #fff;
}

.table-actions {
    white-space: nowrap;
}

#modal .action-buttons {
    margin-top: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}
